@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

div[id~=motivation] blockquote {
    width: 100%;
    /*margin-left: -50px;
    padding: 36px 50px;*/
    position: relative;
    /*background: #c2c2c2;*/
    /*margin-bottom: 28px;*/
    &::before, &::after {
      top: 0;
      bottom: 0;
      width: 25px;
      content: '';
      position: absolute;
      /*background: #c2c2c2;*/
      /*box-shadow: 0 2px rgba(0,0,0,.25);*/
    }
    &::before {
      right: 100%;
    }
    &::after {
      left: 100%;
    }
    p {
      margin: 0;
      font-size: 1.5em;
      &::before {
        top: 0;
        left: 16px;
        color: #fff;
        content: '“';
        font-size: 3em;
        position: absolute;
        text-shadow: -3px 0 #c2c2c2;
      }
      &::after {
        right: 16px;
        color: #fff;
        content: '”';
        bottom: -32px;
        font-size: 3em;
        position: absolute;
        text-shadow: 3px 0 #c2c2c2;
      }
      }
}
    


section#info {
    background: #070201;
    background: linear-gradient(to right, #44251f 0%, #b62411 100%);
}

section.clip {
    margin-top: -100px;
    padding: 50px 0;
    -webkit-clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
}



.divider:before {
    position: relative;
    display: block;
    content: '';
    width: 130px;
    height: 130px;
    border: 1px solid #f0f0f0;
    left: 50%;
    margin-left: -15px;
    top: 50%; 
    margin-top: -15px;
    
    background: url('../assets/images/RFC_Logo_color.png') no-repeat;
    background-size:contain;
}

 .divider:after {
    position: relative;
    display: block;
    content: '';
    width: 120px;
    height: 120px;
    /*border: 1px solid #2ca5b9; */
    left: 50%;
    margin-left: -50px;
    top: 100%; 
    background: url('../assets/images/RFC_Logo_color.png') no-repeat;
    background-size:contain;
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}



/* {{ BEGIN Parallax scrolling properties */
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}
section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 80px 0;
    /*background-color: #34495e;*/
}
section[id~='leader-area'] {
    padding: 100px 0 !important;
}
section.module.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
    background-image: url("../assets/images/serene1.jpeg");
    background-size: cover;
}
section.module.parallax-2 {
    background-image: url("../assets/images/serene-sunset-robert-bynum.jpg");
    background-size: cover;
}
section.module.parallax-3 {
    background-image: url("../assets/images/serene1.jpeg");
    background-size: cover;
}
@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    
    section.module p {
        font-size: 20px;
    }
    
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}

/* PARALLAX END }} */
@-webkit-keyframes menuShrink {
    0% {
        min-height: 35px;
    }
    
    100% {
        min-height: 135px;
    }
}
@keyframes menuShrink {
    0% {
        min-height: 35px;
    }
    
    100% {
        min-height: 135px;
    }
}

/* TESTING: User defined styles */
.nav-up {}
nav.navbar.shrink {
    /* min-height: 135px; */
    
    -webkit-animation-name: menuShrink;
    animation-name: menuShrink;
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    
    animation-duration: 2s;
    .navbar-brand {
        font-size: 25px;
    }
    
    a {
        font-size: 15px;
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    }
    
    .navbar-toggle {
        margin: 8px 15px 8px 0;
        padding: 4px 5px;
    }
}
a {
    color: #e74c3c;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
a:hover {
    color: #e76c3c;
}
.row {
    padding: 80px 0px;
}
.btn {
    border: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-transform: uppercase;
    border-radius: 0;
}
.btn-common {
    background: #3d566e;
    color: #fff;
}
.btn-common:hover {
    background: #e74c3c;
    color: #fff;
}
.title {
    text-align: center;
    font-size: 50px;
}
.subtitle {
    text-align: center;
    font-weight: 100;
    padding-bottom: 30px;
    position: relative;
    color: #bdc3c7;
}
.navbar {
    margin-bottom: 0;
}
.navbar li {
    color: #d1d1d1;
}
.navbar-default {
    border: none;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #fff;
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
    color: #fff;
}
.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
    background: #e74c3c;
    padding-bottom: 5px;
    color: #fff;
}
.navbar-default .navbar-brand {
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}
.navbar-default .navbar-brand:hover {
    color: #eee;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #333;
}
.affix.navbar-default {
    background: rgba(0, 0, 0, 0.8);
}
#hero-area {
    background: #34495e;
    color: #fff;
}
#hero-area .btn {
    margin-right: 20px;
}
#hero-area img {
    max-width: 100%;
}
#hero-area p {
    padding: 50px 0;
}
#services h3 {
    margin-top: 0;
    font-size: 28px;
    color: #e74c3c;
}

/*Portfolio*/
#portfolio {
    background: #f1f1f1;
}

/*Portfolio Overlay */
.portfolio-item {
    position: relative;
    margin-bottom: 15px;
}
.portfolio-item img {
    width: 100%;
}
.portfolio-item .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
.portfolio-item:hover .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
}
.portfolio-item .icons .preview {
    position: absolute;
    left: 40%;
    top: 40%;
    color: #fff;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.portfolio-item .icons .preview i {
    color: #e74c3c;
}
#clients {
    background: #fff;
}
#about {
    background: #34495e;
    color: #fff;
}
#about p {
    line-height: 30px;
    font-size: 17px;
}
#contact {
    background: #f1f1f1;
}
#contact::-webkit-input-placeholder {
    color: #ecf0f1;
}
#contact:-moz-placeholder {
    color: #ecf0f1;
}
#contact::-moz-placeholder {
    color: #ecf0f1;
}
#contact:-ms-input-placeholder {
    color: #ecf0f1;
}
#contact .social i {
    color: #fff;
    padding: 10px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background: #34495e;
}
#contact .social .social-links a:hover {
    color: #fff;
}
#contact .social .fa-facebook:hover {
    background: #3b5998;
    color: #fff;
}
#contact .social .fa-twitter:hover {
    background: #00CAFB;
    color: #fff;
}
#contact .social .fa-google-plus:hover {
    background: #D23A1D;
    color: #fff;
}
#contact .social .fa-linkedin:hover {
    background: #007bb6;
    color: #fff;
}
#contact .social .fa-dribbble:hover {
    background: #ea4c89;
    color: #fff;
}
#contact .social .fa-github:hover {
    background: #171515;
    color: #fff;
}
#contact .contact-info {
    margin: 40px 0;
}
#contact .contact-info p {
    font-size: 20px;
}
#contact .contact-form .form-control {
    box-shadow: none;
    font-size: 17px;
    margin-bottom: 20px;
    border-radius: 0;
    border: none;
}

/*Scroll Top*/
.to-top i {
    padding: 10px 15px;
    margin: 10px;
    background: transparent;
    color: #34495e;
    border: 2px solid #34495e;
}
.to-top i:hover {
    background: #34495e;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#copyright {
    background: #F1F1F1;
    color: #333;
}
#copyright a {
    color: #333;
}



@media (min-width: 768px) and (max-width: 1024px) {
#hero-area .btn{margin-top: 15px;}

  .nav > li > a {
    padding: 12px 8px;
    line-height: 21px;
  }
  .social-links{padding-top: 15px;}
}

@media (min-width: 320px) and (max-width: 480px) {
  #hero-area .btn{margin-top: 15px;}
  .navbar-default{background: rgba(0, 0, 0, 0.8);}
  .social-links{padding-top: 15px;}
  .row {padding: 40px 0px;}

}



.img-macbook { content: url("../assets/images/img/hero/macbook.png")  }
.img-responsive { content: url("../assets/images/img/services/responsive.png")  }
.img-bs3 { content: url("../assets/images/img/services/bs3.png")  }
.img-free { content: url("../assets/images/img/services/free.png") }
.img-graph { content: url("../assets/images/img/about/graph.png") }

.img-areyouready { content: url("../assets/images/areyouready.jpg") }

.img-windedwarriorbanner { content: url("../assets/images/windedwarriorbanner.jpg") }
.img-floorballSinglePlayerAction1 { content: url("../assets/images/floorballSinglePlayerAction1.jpg"); width: 100%; height: 200px;}
.img-floorballSinglePlayerAction2 { content: url("../assets/images/floorballSinglePlayerAction2.jpg") }
.img-goalie2 { content: url("../assets/images/goalie2.jpg") }
.img-floorballaction { content: url("../assets/images/floorballaction.jpeg") ; width: 100%; height: 200px;}
.img-goalie-vit-schulmeister-floorball-18454838 { content: url("../assets/images/goalie-vit-schulmeister-floorball-18454838.jpg"); width: 100%; height: 200px; }
.img-floorballaeropro_white { content: url("../assets/images/floorballaeropro_white.jpg") ; width: 30px; height: 30px;}


.iphonebadge {
  border-radius:99px;
 -moz-border-radius:99px;
 -webkit-border-radius:99px;
  background:red;
  color:#fff;
  border:3px #fff solid;
  background-color: #e7676d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7676d), to(#b7070a)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #e7676d, #b7070a); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #e7676d, #b7070a); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #e7676d, #b7070a); /* IE10 */
  background-image: -o-linear-gradient(top, #e7676d, #b7070a); /* Opera 11.10+ */
  background-image: linear-gradient(top, #e7676d, #b7070a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e7676d', EndColorStr='#b7070a'); 
 -webkit-box-shadow: 0px 2px 4px #000000; /* Saf3-4 */
 -moz-box-shadow: 0px 2px 4px #000000; /* FF3.5 - 3.6 */
  box-shadow: 0px 2px 4px #000000; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
  display:inline-block;
  padding:2px 2px 2px 2px ;
  margin:3px;
  font-family:arial;
  font-weight:bold;
}

.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 17%, #ff0a0a 19%, #ff2828 40%, #000000 41%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 17%,#ff0a0a 19%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ffffff 89%,#ff0a0a 9%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.effect3
{
  position: relative;
}
.effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #FFF;
  box-shadow: 0 15px 10px #FFF;
  transform: rotate(-3deg);
}

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #FFF;
  box-shadow: 0 15px 10px #FFF;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}



.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #FFF;
  box-shadow: 0 15px 10px #FFF;
  transform: rotate(3deg);
}

ul[class~="navbar-nav"] > a {
  font-size: 4em;
}


#time {
   width:100px; /* or whatever width you want. */
   max-width:100px; /* or whatever width you want. */
   margin-left:5vmin;
   display: inline-block;
}